@font-face {
  font-family: NittiNormal;
  font-weight: 300;
  src: url('../fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittiBold;
  font-weight: 500;
  src: url('../fonts/NB.woff') format('woff');
}

@font-face {
  font-family: NittiGrotesk;
  font-weight: 300;
  src: url('../fonts/NGN.woff') format('woff');
}


@font-face {
  font-family: NittiGroteskBold;
  font-weight: 500;
  src: url('../fonts/NGB.woff') format('woff');
}