.dashboard {
    padding: $baseUnit;
    padding-top: 0;
}


.dashboard-section {
    margin-bottom: $baseUnit;
}

.dashboard-section .title {
    font-size: rem-calc(15);
    font-family: $titleFont;
    margin-bottom: rem-calc(5);
}

.dashboard-section .tag:hover {
    background-color: $baseColor;
    color: $inverseColor;
}