.tag {
  display: inline-flex;
  height: rem-calc(30);
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: rem-calc(13);
  align-items: center;
  justify-content: center;
  padding: 0 rem-calc(10);
  border: 1px solid black;
}

.app-is-learn .tag:hover {
    background-color: $learnColor;
}