.tag {
  display: inline-block;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: rem-calc(13);
  padding: 2px 10px;
  border: 1px solid black;
}

.app-is-learn .tag:hover {
    background-color: $learnColor;
}